*{
    margin: 0;
    padding: 0;
}

/*----Navigation Bar----*/

#nav-bar{
position:sticky;
margin-top: 100px;
bottom: 10;
z-index: 10;
}

.navbar-brand img{
height: 68px;
width:90px;
padding-left: 30px;
margin-top: 2px;
margin-bottom: 0px 2px;
width:350px;
}

.navbar-nav li{
height: 60px;
padding-left: 30px;
text-align: center;
margin-top: 30px;
color:#006400 ;
}

.navbar-nav li a{
float:right;
text-align: left;
}

#nav-bar ul li a:hover{
color: #006400;
}

.navbar{
background: #ffffff;
} 

.navbar-toggler{
border: none!important;
}

.nav-link{
color: #006400!important;
font-weight: 600;
font-size: 18.5px;
}

/*----Image Slider----*/
#slider{
    width: 100%;
    height: 20%
/*width: 100%;*/
}

#slider img{
    width: 500vh;
    height: 80vh;
}

.carousel-caption{
top: 50%;
bottom: initial!important;
}

/*----Contacts----*/
#footer .locate {
color:  #ffffff;
background-color: #31B151;
height: 450px;
text-align: justify;
font-weight:medium;
display:block;
}


#one .locate-text {
padding-top: 10px;
padding-left: 12px;
float: left;
}

.map{
padding-top:100px;
padding-left: 12px;
border: 20px;
}

#footer .locate .one .picture img{
float:right;
margin-top: 80vh;
}

.contacts-title{
    text-align: right;
}

